@model IPagedList<RestuarantListViewModel>
<div id="restuarantList">

    <div class="pagedList" data-otf-target="#restuarantList">

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                            PagedListRenderOptions.MinimalWithItemCountText)
    </div>

    @foreach (var item in Model)
    {
        <h2>@item.Name</h2>
        <div>@item.City, @item.Country</div>
        <div>Reviews: @item.CountOfReviews</div>
        <hr />
    }
</div>

